:root {
    --white: rgba(255, 255, 255, 1);
    --yellow: rgba(229, 179, 0, 1);
    --black: rgba(54, 56, 78, 1);
    --icon-stroke-color: rgba(91, 91, 88, 1);
    --body-text-font-family: "Poppins", Helvetica;
    --body-text-font-weight: 500;
    --body-text-font-size: 16px;
    --body-text-letter-spacing: 0px;
    --body-text-line-height: 20px;
    --body-text-font-style: normal;
    --display-text-font-family: "Poppins", Helvetica;
    --display-text-font-weight: 600;
    --display-text-font-size: 58px;
    --display-text-letter-spacing: 0px;
    --display-text-line-height: 64px;
    --display-text-font-style: normal;
    --heading-text-font-family: "Poppins", Helvetica;
    --heading-text-font-weight: 500;
    --heading-text-font-size: 32px;
    --heading-text-letter-spacing: 0px;
    --heading-text-line-height: 38px;
    --heading-text-font-style: normal;
    --body-text-big-font-family: "Poppins", Helvetica;
    --body-text-big-font-weight: 400;
    --body-text-big-font-size: 20px;
    --body-text-big-letter-spacing: 0.5px;
    --body-text-big-line-height: 38px;
    --body-text-big-font-style: normal;
    --heading-text-medium-font-family: "Poppins", Helvetica;
    --heading-text-medium-font-weight: 500;
    --heading-text-medium-font-size: 26px;
    --heading-text-medium-letter-spacing: 0.5px;
    --heading-text-medium-line-height: 34px;
    --heading-text-medium-font-style: normal;
    --body-text-medium-font-family: "Poppins", Helvetica;
    --body-text-medium-font-weight: 400;
    --body-text-medium-font-size: 20px;
    --body-text-medium-letter-spacing: 0.5px;
    --body-text-medium-line-height: 28px;
    --body-text-medium-font-style: normal;
    --CTA-text-font-family: "Poppins", Helvetica;
    --CTA-text-font-weight: 600;
    --CTA-text-font-size: 16px;
    --CTA-text-letter-spacing: 0px;
    --CTA-text-line-height: 20px;
    --CTA-text-font-style: normal;
    --paragraph-font-family: "Roboto", Helvetica;
    --paragraph-font-weight: 400;
    --paragraph-font-size: 16px;
    --paragraph-letter-spacing: 0px;
    --paragraph-line-height: 150%;
    --paragraph-font-style: normal;
}